                    <!-- Header -->
                    <header class="header">

                        <button class="mobile-menu-btn" id="menuBtn" aria-label="Open menu">
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16">
                                </path>
                            </svg>
                        </button>
                        <div class="header-left">
                            <h1 class="header-title">Designed & built by  <i class="fa-solid fa-laptop"></i>  Rishabh-Bisht </h1>
                            <nav class="header-nav">
                                <a href="https://www.instagram.com/ri__shukie?igsh=MTA2Zmt4dDN0b3A4ZA== " class="social instagram" aria-label="Instagram">
                                  <i class="fa-brands fa-instagram"></i>
                                    ri_shukie
                                </a>
                                <a href="https://www.facebook.com/rishabh.bisht.7330?mibextid=ZbWKwL " class="social facebook" aria-label="Facebook">
                                    <i class="fa-brands fa-square-facebook"></i>
                                    Rishabh Bisht
                                </a>
                                <a href="https://www.snapchat.com/add/rishabhbisht_28?share_id=quP5dx2-qHk&locale=en-US " class="social snapchat" aria-label="Snapchat">
                                   <i class="fa-brands fa-snapchat"></i>
                                    rishabhbisht_28
                                </a>

                            </nav>
                        </div>


                    </header>